<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-new-order="{{devoured}}">
		{{#if devoured}}Devour This Burger{{else}}This Burger has beed devoured...{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
