<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-new-order="{{devoured}}">
		{{#if devoured}}GONE!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
